
#main-details {
    width: 780px;
}

.detailes-title {
    width: 100%;
    text-align: center;
}

.detailes-graph-channel {
    width: 760px;
    height: 130px;
}

.detailes-graph-avgspectrum,
.detailes-graph-histogram,
.detailes-graph-allpass,
.detailes-graph-peakvsrms {
    display: inline-block;
    height: 230px;
}

.detailes-graph-avgspectrum {
    width: 501px;
}

.detailes-graph-histogram {
    width: 493px;
}

.detailes-graph-allpass {
    width: 257px;
    margin-left: -20px;
}

.detailes-graph-peakvsrms {
    width: 248px;
    margin-left: -12px;
}

.detailes-graph-shortterm{
    width: 748px;
    height: 148px;
}