
.detailed-title {
    width: 100%;
    text-align: center;
}

.detailed-graph-div {
    width: 762px;
    height: 130px;
}

.detailed-graph-left-div {
    display: inline-block;
    width: 510px;
    height: 230px;
}

.detailed-graph-right-div {
    display: inline-block;
    width: 260px;
    height: 230px;
    margin-left: -20px;
}