
.detailed-title {
    width: 100%;
    text-align: center;
}

.detailed-graph-div {
    width: 760px;
    height: 130px;
}

.detailed-graph-left-div {
    display: inline-block;
    width: 501px;
    height: 230px;
}

.detailed-graph-right-div {
    display: inline-block;
    width: 257px;
    height: 230px;
    margin-left: -20px;
}

.detailed-graph-div-bottom {
    width: 748px;
    height: 148px;
}