
#main-overview {
    padding-top: 10px;
    width: 800px;
}

.overview-graph-div {
    display: inline-block;
    width: 645px;
    height: 77px; 
}

.overview-graph-data-table {
    display: inline-block;
    width: 120px;
    height: 77px; 
    margin-left: 2px;
    position: relative;
}

.overview-graph-data-table table {
    position: absolute;
    bottom: 5px;
    height: 50px;
}

.overview-graph-data-table td  {
    padding: 0;
}

.overview-graph-data-table td:first-child  {
    text-align: right;
}