
.sidebar,
.sidebar-bottom {
    width: 500px;
}

.sidebar {
    vertical-align: top;
    height: 100%;
    padding: 0;
    border-right: solid 1px;
    float: left;
}

.sidebar > input[type="file"] {
    display: none;
}

.sidebar > div:nth-child(2),
.sidebar > div:nth-child(3) {
    padding: 8px;
    border-bottom: 1px solid;
}

.sidebar-table-wrapper {
    width: 100%;
    overflow: hidden;
    max-height: calc(100% - 100px);
}

.sidebar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: solid 1px;
}

.sidebar-bottom > div {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.sidebar table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}

.selected {
    background-color: #cae1ff !important;
}

.table-col-icon {
    width: 31px;
}