.sidebar {
    position: relative;
    height: 100%;
    padding: 0;
    border-right: solid 1px;
}

.sidebar-header,
.sidebar-overview {
    padding: 0.5rem;
    border-bottom: 1px solid;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px;
}

.sidebar-table-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 105px);
}

.sidebar table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.375rem;
}

.selected-file,
.selected-file > td {
    background-color: #cae1ff !important;
}

.table-col-icon {
    width: 2rem;
}
